# LangChain Core
langchain
langchain-core
langchain-community
langgraph

# LLM Providers
langchain-mistralai
langchain-google-genai
langchain-openai
langchain_groq

# Environment Variables
python-dotenv

# Vector Database
faiss-cpu

# Tokenization
tiktoken

# API Backend
fastapi
uvicorn
streamlit

# HTTP Requests
requests

# Hugging Face Embeddings
langchain-huggingface
sentence-transformers